body {
    background-image: url(../images/cbr-sky.jpg);
    padding-top: 0;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    background-image: url(../images/cbr-header.png);
    border: none;
    border-radius:0;
    padding: 25px 0;
}